numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
pandas_datareader
yfinance
pandas-ta
requests
beautifulsoup4
newsapi-python
textblob
nltk
vaderSentiment
backtrader
streamlit
plotly
pytest
python-dotenv

